body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.content {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.left-content {
    display: flex;
    height: 100vh;
}

.image-container {
    width: 100%;
    position: relative;
}

.logo {
    position: absolute;
    top: 60px;
    left: 140px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* keeps proportions nicely */
  display: block;
}

.right-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    background-color: #f9fafb;
}

.top {
    display: flex;
    flex: 1;
    align-items: end;
    margin-left: 20px;
}

.mid {
    flex: 1;
    flex-direction: row;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    /* This creates the lifted effect */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
}

input {
    width: 15rem;
    border: 2px solid rgb(233, 233, 233);
    padding: 5px;
    border-radius: 5px;
}

input:user-invalid {
  border: 2px solid red;
}

input:user-valid {
  border: 2px solid green;
}

input:focus {
    outline: none;
    border-color: 2px #0000ff;
    box-shadow: 0 0 4px 1px rgba(0, 123, 255, 0.6);}


.left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 5rem;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-group {
  margin-bottom: 20px;
}


label {
    display: block;
}

legend {
    font-size: large;
}

.bottom{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 20px;
}

button {
    width: 10rem;
    margin: 20px 20px 0 20px !important;
    background-color: #007BFF;  /* Blue background color */
    color: white;               /* White text */
    border: none;               /* Remove border */
    padding: 12px 20px;         /* Padding for the button */
    font-size: 16px;            /* Readable text size */
    border-radius: 8px;         /* Rounded corners */
    cursor: pointer;           /* Make it look clickable */
    transition: all 0.3s ease;  /* Smooth transition */
}
